{% extends "base.njk" %}

{% block pageTitle %}{{ t("pages.error.404.title") }}{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ t("pages.error.404.title") }}</h1>
            {% for p in tt("pages.error.404.body") %}
                <p class="govuk-body">{{ p }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
